html{
    scroll-behavior: smooth;
}

body {
    background-color: #03123F;
}

h1 {
    color: #EDEDED;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Playfair Display', serif ;
    position: absolute;
    left: 0;
    right: 0;
    top: 3vh;
}

h2 {
    color: #EDEDED;
    font-weight: 600 ;
    font-size: 18px ;
    line-height: 24px ;
    padding-bottom: 18px;
    text-align: center;
    font-family: 'Playfair Display', serif ;
}

p {
    color: #FFFFFF;
    font-weight: 300 ;
    font-size: 16px ;
    line-height: 20px ;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 48px;
}

.header {
    width: 100%;
    height: 105vh;
    display: block; 
    position: relative;
    overflow: hidden;  
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

.header-text {
    height: auto;
    left: 0;
    text-align: center;
    margin: 20px 40px 40px 40px;
    position: relative;
}

.text-area {
    padding: 120px 24px 0 24px;
}

.logorow {
    padding: 32px 0 104px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arrow {
    padding-bottom: 12vh;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    animation-name: animation2;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.container {
    max-width: 1240px !important;
    position: relative;
    z-index: 2;
}

.image_bg {
    position: relative;
}

.image_bg:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.05;
    background-image: url("https://6unli.github.io/UT_Kaart/img/bg.png");
    background-repeat: no-repeat;
    background-position: 50% 88%;
    background-size: cover;
}

@keyframes animation1 {
    0%   {opacity:0; transform:translateX(160px);}
    2.27%  {opacity:1; transform: translateX(0px) ;}
    25%  {opacity:1; transform: translateX(0px) ;}
    27.27% {opacity:0; transform: translateX(-160px);}
}

@keyframes animation2 {
    0%   {bottom: 0;}
    8%  {bottom: 24px;}
    16% {bottom: 4px;}
    24%  {bottom: 24px;}
    32% {bottom: 0px;}
}

.an1 {
    opacity: 0;
    animation-name: animation1;
    animation-duration: 13.2s;
    animation-delay: -0.3s;
    animation-iteration-count: infinite;
}

.an2 {
    opacity: 0;
    animation-name: animation1;
    animation-duration: 13.2s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.an3 {
    opacity: 0;
    animation-name: animation1;
    animation-duration: 13.2s;
    animation-delay: 6.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.an4 {
    opacity: 0;
    animation-name: animation1;
    animation-duration: 13.2s;
    animation-delay: 9.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.an5 {
    opacity: 0;
    animation-name: animation1;
    animation-duration: 13.2s;
    animation-delay: 12.9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.5px;
    }

    .header-text {
        height: auto;
        left: 0;
        text-align: center;
        margin: 16px;
        position: relative;
    }


}